# output files
*.obj
*~*
*TMP*
*.map
*.out
*.o
test/bin/*

# folders
#Debug
#targetConfigs
#.cproject
#.launches
#.project
#.settings
#.ccsproject

# latex temporary files
*.aux
*.log
*.blg
*.bbl
*.syntex.gz

