# output files
*.obj
*~*
*TMP*
*.map
*.out

# folders
Debug
targetConfigs
.cproject
.launches
.project
.settings

Debug
targetConfigs

.launches
.settings
.project
.cproject
.ccsproject

# latex temporary files
*.aux
*.log
*.blg
*.bbl
*.syntex.gz


