# output files
*.obj
*~*
*TMP*
*.map
*.out
*.o
test/bin/*
maav/Debug/*

build

#Linked Resources file
.project
#targetConfigs
#.cproject
.launches
.settings
#.ccsproject

# folders
#Debug

# latex temporary files
*.aux
*.log
*.blg
*.bbl
*.syntex.gz
*.synctex.gz

# genereated docs
doc/html
doc/latex

# other
*octave-workspace
*~
*.swp
